.adventuresContainer {
    margin-top: 50px;
    width: 100%;
    padding: 2px;
}

.adventureCard {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    margin: 0.5rem;
    background-color: #282c34;
    background: linear-gradient(0deg, #ffffff, #cccccc);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    max-height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-block: 5px;
    position: relative;
    flex-basis: calc(25% - 1rem);
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 80%
  }

.headerWrapper {
    display: flex;
}

.adventureDetailBox {
    flex: 1;
}

.adventureAttractionName {
    margin-bottom: .5rem;
    text-shadow: 0 0 10px rgb(188, 188, 188);
}

.adventureButton {
    width: auto;
    background-color: #b0e6b0;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, 0.10) 0 1px 2px, rgba(44, 187, 99, 0.10) 0 2px 4px, rgba(44, 187, 99, 0.10) 0 4px 8px, rgba(44, 187, 99, 0.10) 0 8px 16px, rgba(44, 187, 99, 0.10) 0 16px 32px;
    color: rgb(33, 33, 33);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    font-weight: bold;
    padding: 1px 10px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 11px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 3px;
    margin-top: 10px;
    margin-right: 5px;
  }

.adventureButton:hover {
    box-shadow: rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.goBackButton {
    margin-left: 10px;
    width: 40px;
}

.adventureAttractionType {
    font-size: 14px;
}

.adventureAttractionThrill {
    font-size: 12px;
    font-weight: bold;
}

.glow.mild {
    text-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
  }
  
  .glow.moderate {
    text-shadow: 0 0 8px rgba(255, 255, 0, 0.4);
  }
  
  .glow.maximum {
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
  }
