.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Mouser;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .logo {
    width: 200px; 
    height: auto; 
  }

.authForm {
    width: 310px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 20px;

}

.authFormContent {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 3%;
}

.authInput {
    display: flex;
    padding-bottom: 1%;
    width: 85%;
    margin-bottom: 8px

}

.authLabel {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    display: flex;
    margin-top: 6px;
    margin-bottom: 5px;
}

.registrationPrompt,
.signInPrompt {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}


.authButton {
    background-color: #c2fbd7;
    border-radius: 80px;
    box-shadow: rgba(44, 187, 99, 0.10) 0 1px 2px, rgba(44, 187, 99, 0.10) 0 2px 4px, rgba(44, 187, 99, 0.10) 0 4px 8px, rgba(44, 187, 99, 0.10) 0 8px 16px, rgba(44, 187, 99, 0.10) 0 16px 32px;
    color: rgb(33, 33, 33);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 11px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.authButton:hover {
    box-shadow: rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

#loginButton {
    margin-top: 5px
}