.searchContainer {
    margin-left: 10px;
    margin-bottom: -50px;
    width: 200px;
    height: 100px;
  }
  
  .searchContainer .search {
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 20%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  
  .searchContainer .search:hover {
    cursor: pointer;
  }
  
  .searchContainer .search::before {
    content: "";
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  
  .searchContainer .search::after {
    content: "";
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: 2px solid white;
    transition: all 0.5s;
  }
  
  .searchContainer input {
    font-family: Mouser;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 40px;
    outline: none;
    border: none;
    background: rgb(198, 17, 17);
    color: white;
    text-shadow: 0 0 10px rgb(198, 17, 17);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 1px 0 rgb(198, 17, 17), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 1;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    
  }
  
  .searchContainer input:hover {
    cursor: pointer;
  }
  
  .searchContainer input:focus {
    width: 200px;
    opacity: 1;
    cursor: text;
  }
  
  .searchContainer input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  
  .searchContainer input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  
  .searchContainer input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  
  .searchContainer input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }