.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #292c31;
    background: linear-gradient(0deg, #ffffff, #99ce99);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 50%;
    margin: 0 auto;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
  }
  
  .username {
    font-family: Mouser;
  }
  
  .avatar {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 10px;
  }
  
  .userInfo {
    display: flex;
    flex-direction: column;
    font-family: Mouser;
    padding: 5px;
  }
  
  .name,
  .height {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    margin-left: 15px;
    width: 150%;
    font-weight: bold;
  }

  .userInput {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .historyContainer {
    margin-top: 20px;
    padding: 5px;
    width: 75%;
    font-family: Mouser;
  }

  .adventureTitle {
    font-weight: bold;
  }